body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    gap: 20px;
    
}

#hero{
    font-size: 40px;

}
img{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;

}

.btn{
    background-color: lightblue;
    color: black;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    
}

.btn:active{
    scale: 0.95;
}